.indicator {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__time {
        font-size: 12vw;
        height: 13vw;
    }

    &__type {
        font-size: 3vw;
        font-weight: 250;
    }
}

